[Unit]
Description=Systemd autostart the upspin fuse fs.
Wants=local-fs.target
After=local-fs.target

[Service]
ExecStart=/home/jcgregorio/bin/upspinfs /home/jcgregorio/up

[Install]
WantedBy=default.target
