
snippet grid "cssgrid"
.$1 {
	grid-area: $2;
}

.$3 {
	grid-area: $4;
}

.container {
  display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 50px 1fr;
	grid-template-areas:
		"$1 $1"
		"$2 $2"
}
endsnippet

