[Unit]
Description=sshtunnel
Wants=network-online.target

[Service]
Environment=HOME=/home/jcgregorio
ExecStart=/usr/bin/ssh -T -R "10022:*:22" jcgregorio@bitworking.org

Restart=always
User=jcgregorio
Group=jcgregorio
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
